[Unit]
Description=Rclone VFS Mounts Service
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/var/mnt/2T

[Service]
Type=forking
ExecStart=/bin/bash /home/eric/.local/bin/rclone-mount
ExecStop=/bin/bash /home/eric/.local/bin/rclone-unmount
User=eric
Group=eric
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
